{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('   {{url_for('static' ,filename='img/about.jpg')}}      ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Common thoughts</h1>
            <span class="subheading">A step towards success </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<p>What after 10th? What are the courses after 10th? What to do after 10th? Which stream and subjects to choose in 11th and 12th? </p>
<p><strong>Are you stuck with these questions? </strong> </p>
<p>Many of you must have already chosen the stream and subjects which you are going to study in the 11th and 12th. But there could be many who haven’t. </p>
<p>It is okay if you have finalized a stream and combination subjects to study in class 11 and 12. It is okay if you have already decided upon a career pathway. But it is also okay if you haven’t done all this thinking yet. </p>
<h4>Here’s why it is okay! </h4>
<p>By not finalizing what to do and which courses after the 10th should be considered, you have unlocked the door to exciting career opportunities. </p>
<h4>Wondering how? </h4>
<p>There are so many courses after 10th that could land you in your dream job. But how would you decide which one is the right course for you? This dilemma could make you go crazy! But hey, before we learn about all the exciting and futuristic courses after 10th, let’s look at how we can make the right career choice. </p>

<p>After 10th class, you have a great chance to follow and prepare for your dreams in the right direction. There are many exciting careers which you can pursue. Whether you are a high or an average scorer, choosing the right career is the topmost priority. </p>
<p>Anyone can find it difficult to decide which career path to follow. Is it not worth knowing what the future holds and taking proper career guidance? What could be the worst-case scenario? Well, you could end up in a career that is not right for you. </p>
<p>It is common among students to get misinformed and end up making the wrong decisions. So, how can we fix this? </p>
<h2><strong>The Solution </strong></h2>
<p>Completing class 10th is a big feat, but the challenge doesn’t end right there. Students are stuck on questions like- what after 10th and what career options after 10th they can look for. They need to choose which path to follow after 10th; which stream to choose; or should they look for diploma or certification courses after 10th class? While the confusion for the same persists, one-stop-solution to end all the career-related confusion is to go for unbiased career guidance after the 10th. </p>
<h3><strong>Why career guidance after the 10th? </strong></h3>
<p>Because taking an informed decision about which subjects or courses after 10th could make or break decisions for you. </p>
<h4>Here’s why? </h4>
<p>While choosing a career may be a cakewalk for some students, it can be difficult for some. Students who need guidance in career choices may have the following questions or doubts: </p>
<h3><strong>How to make the right choice</strong>?</h3>
<p class="has-very-dark-gray-color has-text-color">One of the common questions that cloud the minds of many parents as well as many students is &#8211; what are the options available after the 10th? If we go back a decade or two, when your parents were in your place, all they had to choose was between mathematics and biology.</p>
<p>This is not the case anymore as you will get to know more about after the 10th-course list mentioned in detail in this article. There are several options after 10th which could lead to many new and futuristic career choices. Awareness and knowledge about these new careers can be a deal maker. The main question is how to make the right choice? Proper career guidance makes you aware of all the options and helps you make the right choice in career selection. </p>
<h3><strong>What to choose</strong>?</h3>
<p> There is a wide variety of options to choose from when thinking about possible courses after the 10th. But you cannot choose just about ANY course, right? So, instead of going after popular mainstream choices, it is best to enhance your knowledge about the latest careers and make a well-informed decision. Read about the after 10th courses list mentioned below and choose the right for you.</p>
<h3><strong>How to select Board</strong>?</h3>
<p>After 10th, you can either study in the same school board or you can opt for a different board. Changing the board/looking for the right education board to achieve your goals requires expertise. Thus, consider asking or taking advice from your teachers or counsellors.</p>

{% endblock %}
