{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->

  <header class="masthead" style="background-image: url('   {{url_for('static' ,filename='img/post-bg.jpg')}}      ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Information about us</h1>
            <h2 class="subheading">Who we are?</h2>
	           <span class="meta">Posted by
	              <a href="#">Admin</a>
	              on 2021-03-27</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
         <h1> Hello!</h1>
          <p>we are the students of SE IT .Our names and roll nos. are as follows:</p>


		  <ul class="list-group">
		    <li class="list-group-item">Kushal Sankhe: <span class="badge">52</span></li>
		    <li class="list-group-item">Manthan Sarfare :<span class="badge">54</span></li>
		    <li class="list-group-item">Omkar Sodaye: <span class="badge">59</span></li>
		  </ul>

		  <p> Our project topic is carrier guidance program . It will help student for choosing a write stream after 10th. It's a difficult choice to make for all students . Our program will try to clear their common questions.


		


          

          

{% endblock %}

